@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('//db.onlinewebfonts.com/c/63f874d192fb3892d88d5e26f942b5e2?family=DS-Digital');
$fonts: 'Roboto Slab',
serif;
$primary-color: #000;
$alt-color: lightblue;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  min-width: 320px;
  font-family: $fonts;
  color: $primary-color;
}

header h1 {
  border-bottom: 3px solid black;
}

button {
  color: $primary-color;
  border-radius: 50%;
  border: 1px solid white;
  background-color: $alt-color;
}

.page-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  header {
    margin: 15px;
    margin-bottom: 30px;
    text-align: center;
  }
  .clock-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "break-settings timer session-settings";
    grid-gap: 10px;
    align-items: center;
    .timer-wrapper {
      grid-area: timer;
      width: 300px;
      height: 300px;
      .timer {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background-color: $alt-color;
        display: flex;
        justify-content: center;
        align-items: center;
        #time-left {
          font-family: 'DS-Digital';
          font-size: 80px;
        }
      }
      #timer-label {
        width: 100%;
        text-align: center;
        position: relative;
        bottom: 220px;
        font-size: 150%;
      }
      #start_stop {
        position: relative;
        bottom: 350px;
        left: 110px;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #reset {
        position: relative;
        bottom: 140px;
        left: 110px;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .break-wrapper {
      grid-area: break-settings;
      width: 80px;
      height: 80px;
      .break {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $alt-color;
        display: flex;
        justify-content: center;
        align-items: center;
        #break-length {
          font-size: 30px;
          font-family: 'DS-Digital';
        }
      }
      #break-label {
        width: 100%;
        text-align: center;
        position: relative;
        top: 20px;
        font-size: 10px;
      }
      #break-increment {
        position: relative;
        bottom: 105px;
        left: 25px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #break-decrement {
        position: relative;
        bottom: 60px;
        left: 25px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .session-wrapper {
      grid-area: session-settings;
      width: 80px;
      height: 80px;
      .session {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: $alt-color;
        display: flex;
        justify-content: center;
        align-items: center;
        #session-length {
          font-size: 30px;
          font-family: 'DS-Digital';
        }
      }
      #session-label {
        width: 100%;
        text-align: center;
        position: relative;
        top: 20px;
        font-size: 10px;
      }
      #session-increment {
        position: relative;
        bottom: 105px;
        left: 25px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #session-decrement {
        position: relative;
        bottom: 60px;
        left: 25px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  footer {
    margin: 15px;
    margin-top: 70px;
    text-align: center;
    font-size: 10px;
    a {
      text-decoration: none;
      color: $primary-color;
    }
  }
}

@media (max-width: 500px) {
  .clock-wrapper {
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 350px 100px;
    grid-template-areas: "timer timer timer" "break-settings . session-settings" !important;
  }
}